@font-face {
    font-family: Nunito;
    src: url('../assets/fonts/NunitoSans-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: Nunito;
    src: url('../assets/fonts/NunitoSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: Nunito;
    src: url('../assets/fonts/NunitoSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Nunito;
    src: url('../assets/fonts/NunitoSans-Regular.ttf');
    font-weight: 400;
}
:root {
    /* Colors */
    --clr-red: #E11D2E;
    --clr-red-dark: #AC1216;
    --clr-grey-semidark: #FFFFFF66;
    --clr-grey-op-5: #FFFFFF0D;
    --clr-grey-bright: #A0A3B5;
    --clr-blue-card: #384D70;
    --clr-blue-bcg: #101932;
    --clr-red-logo: #E22F2F;
    --clr-yellow-souce: #FF9429;
    --clr-blue-sky: #067CCB;
    --clr-purple: #30298C;
    --clr-blue-bg-darker: #071022;
    /* Container */
    --container-wdh: 90%;
    /* Border */
    --rad-btn: 10px;
    --rad-logo: 15px;
    --rad: 20px;
    --brd-heading: 1px solid rgba(255, 255, 255, 0.09);
    /* Paddings, margins, gaps */
    --mar-center: 0 auto;
    --pad-btn: 25px 54px;
    --pad-link: 14px 30px;
    --pad-btn-header: 12px 30px;
    --gap-header: 25px;
    /* Font */
    --sz-collosal: 80px;
    --sz-semilarge: 32px;
    --sz-large: 35px;
    --sz-small: 17px;
    --sz-smaller: 15px;
    --sz-medium: 25px;
    --sz-semibig: 28px;
}
button, a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}
.container {
    width: var(--container-wdh);
    margin: var(--mar-center);
}
body {
    background-color: var(--clr-blue-bcg);
}
header {
    padding: 30px 0;
    width: 100%;
}
.header__screen-one__-bg img:not(header img, main img) {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container-logo a {
    font-size: var(--sz-medium);
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__container-logo a img {
    background-color: var(--clr-red-logo);
    border-radius: var(--rad-logo);
    padding: 6px;
}
.header__container-logo a b {
    color: var(--clr-red);
}
.header__container-services {
    display: flex;
    gap: 70px;
    align-items: center;
}
.header__container-links {
    display: flex;
    gap: var(--gap-header);
}
.header__container-links a {
    font-weight: 600;
    font-size: var(--sz-small);
    opacity: .8;
}
.header__container-services button {
    padding: var(--pad-btn-header);
    background-color: var(--clr-red-dark);
    border: none;
    font-weight: 600;
    font-size: var(--sz-smaller);
    border-radius: var(--rad-btn);
}
.main__container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main__container-heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main__container-heading h1 {
    font-weight: 800;
    line-height: 90px;
    color: white;
    font-size: var(--sz-collosal);
}
.main__container-heading h1 span {
    color: var(--clr-red);
}
.main__container-heading span:not(h1 span) {
    color: #71768E;
    font-weight: 500;
    font-size: var(--sz-medium);
}
.main__container p {
    font-size: var(--sz-semilarge);
    color: var(--clr-grey-bright);
    width: 88%;
}
.main__container-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bottom-btns {
    display: flex;
    gap: var(--gap-header);
    align-items: center;
}
.bottom-btns button {
    padding: var(--pad-btn);
    border: none;
    border-radius: var(--rad-btn);
    background-color: var(--clr-red);
    font-weight: 700;
    font-size: var(--sz-medium);
}
.bottom-btns button:nth-child(2) {
    font-weight: 400;
    background-color: var(--clr-grey-op-5);
}
.bottom-token {
    color: var(--clr-grey-semidark);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: var(--brd-heading);
    width: 86%;
    padding: var(--pad-link);
    border-radius: var(--rad-btn);
}
.bottom-token span {
    font-size: var(--sz-medium);
}
.bottom-token span:nth-child(1) {
    font-size: var(--sz-smaller);
}
.warning__line {
    margin-top: 100px;
    background-color: #5A4039;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    padding: 12px 15px;
    color: rgba(255, 245, 0, 0.6);
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-height: 10px;
}
.warning__line p {
    margin: var(--mar-center);
    min-width: 100%;
}